
bin/AndroidManifest.xml

bin/classes/course/labs/todomanager/AddToDoActivity.class

bin/classes/course/labs/todomanager/AddToDoActivity$4.class

bin/classes/course/labs/todomanager/AddToDoActivity$TimePickerFragment.class

bin/classes/course/labs/todomanager/AddToDoActivity$2.class

bin/classes/course/labs/todomanager/AddToDoActivity$1.class

*.class

gen/course/labs/todomanager/BuildConfig.java

gen/course/labs/todomanager/R.java
